/**************************
HEADER 
**************************/
header{
    background-color: rgba(28, 122, 163, 1);
    color: #fff;
}
/**************************
BODY 
**************************/
body{
    color: #fff;
}
body a{
    color: #fff;
}
/**************************
FOOTER
**************************/
footer {
    color: #fff;
}
/*********************************
SIDENAV
**********************************/
#sideNav {
    color: #fff;
    background-color: rgba(28, 122, 163, 1);
}
#sideNav a{
    color: #fff;
}
/*********************************
MAIN
**********************************/
#menuOne{ 
    background-color: hsla(165, 63%, 33%, 0.85);/*rgba(86, 162, 214,0.5); #56a2d6*/
}
#menuTwo{
    background-color: hsla(71, 69%, 54%, 0.85); /*#00a38e*/
}
#menuThree{
    background-color: hsla(52, 100%, 55%, 0.85);/*#b0412c*/
}
#menuFour{
    background-color: hsla(28, 100%, 50%, 0.85);/*#d60300*/
}

/*********************************
HILFE background-color: 
**********************************/
#gamesDarkBlue{
    background-color: hsla(198, 71%, 47%, 1);
}
/*********************************
GAMES background-color: TÜRKIS
**********************************/
.gameName{
    
    color: #fff;
}
.gameBtns{
    background-color:#f4f4f4;
}
#btnBackWrapper{
    background-color: #e1e1e1;
}
/*********************************
GAME-NAV: KENNENLERN, DUNKELGRÜN
**********************************/
.blue{
    padding: 3.7em 0 3.7em 0;
}
#gameOneBlue{
    background-color: hsla(165, 63%, 33%, 0.85);
}
#gameTwoBlue{
    background-color: hsla(165, 63%, 48%, 0.85);
}
#gameThreeBlue{
    background-color: hsla(165, 63%, 63%, 0.85);
}
/*********************************
GAME-NAV: EISBRECHER, HELLGRÜN
**********************************/
#gameOneGreen{
    background-color: hsla(71, 69%, 54%, 0.85);
}
#gameTwoGreen{
    background-color: hsla(71, 69%, 60%, 0.85);
}
#gameThreeGreen{
    background-color: hsla(71, 69%, 66%, 0.85);
}
/*********************************
GAME-NAV: PARTY, GELB
**********************************/
#gameOneYellow{
    background-color: hsla(52, 100%, 50%, 0.85);
}
#gameTwoYellow{
    background-color: hsla(52, 100%, 40%, 0.85);
}
#gameThreeYellow{
    background-color: hsla(52, 100%, 30%, 0.85);
}
/*********************************
GAME-NAV: ONE-PHONE, ORANGE
**********************************/
#gameOneRed{
    background-color: hsla(28, 100%, 50%, 0.85)
}
#gameTwoRed{
    background-color: hsla(28, 100%, 60%, 0.85)
}
#gameThreeRed{
    background-color: hsla(28, 100%, 70%, 0.85)
}
/*********************************
GAMES IN KENNENLERN, DUNKELGRÜN
**********************************/
#gamesBlue{
    background-color: hsla(165, 63%, 33%, 0.85);
}
/*********************************
GAMES IN KENNENLERN, HELLGRÜN
**********************************/
#gamesGreen{
    background-color: hsla(71, 69%, 54%, 0.85);
}
/*********************************
GAMES IN KENNENLERN, GELB
**********************************/
#gamesYellow{
    background-color: hsla(52, 100%, 40%, 0.85);
}
/*********************************
GAMES IN KENNENLERN, ORANGE
**********************************/
#gamesRed{
    background-color: hsla(28, 100%, 50%, 0.85)
}