/*********************************
GENERAL 
**********************************/
html{
    height: 100%;
}
/*********************************
FONT     
**********************************/
@font-face{
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}
/*********************************
BODY 
**********************************/
body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12pt; 

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%
}
a{
    text-decoration: none;
}
/**************************
HEADER 
**************************/
header{
    
}
#navIconWrapper{
    font-size: 2em;
    padding: 0.6em 1em 0.2em 1em; 
    text-align: center;    
}
.sideNavIcon{
    padding-top: 0.3em;
    float: left;
    width: 0;
}
#appName{
    display: inline-block;
    margin: 0 auto;
}
#appName img{
    width: 70%;
    max-width: 100px;
    height: auto;
}
/**************************
FOOTER
**************************/
footer {
    font-size: 0.75em;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
}
/*********************************
SIDENAV
**********************************/
#sideNav {
    padding-top: 5.5em;
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    overflow-x: hidden;  
    transition: 0.5s;
}
#sideNav a {
    padding: 0.6em 0.6em 0.6em 2em;
    font-size: 1.5em;
    display: block;
    transition: 0.3s;
}
.closeBtn {
    position: absolute;
    top: 0;
    right: 0.2em;
    font-size: 2em !important;
    margin-left: 4.5em;
}
#home{
    margin: 0 0 2.5em 0;
}
#help{
    margin: 3em 0 0 0;
}
/*********************************
MAIN
**********************************/
#mainMenu{
    overflow: auto;
    display:block;
    font-size: 1.5em;
    width: 100%;
}
.mainMenuName{
    padding: 2em 0 2em 0 ;   
    width: 100%;
    text-align: center;
}
.icons{
    min-width: 60px;
    width: 25%;
    height: auto;
    float: right;
}
.gridA{
    height: 2.5em;
}
.gridB{
    padding: auto 0;
    height: 2.5em;
    position: relative
}
.textMain{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 30%;
    float: left;
    white-space: nowrap;
}

/*********************************
GAME-NAV
**********************************/
#gameNav{
    overflow: auto;
    display:block;
    font-size: 1.5em;
    width: 100%;
}
.gamesNamen{
    padding: 2.85em 0 2.85em 0;   
    width: 100%;
    text-align: center;
}
.rwd-line{
    display: block;
    float: left;
}
/*********************************
GAME-GENERAL
**********************************/
#gameWrapper{
    width: 100%;
    height: 100%;
    padding: 4 1 4 1;
}
.gameName{
    height: 100%;
    padding: 0.5em;
    font-size: 1.5em;
    text-align: center
}
.gameNameSpan h3{
    letter-spacing: 0.05em;
    font-weight: lighter;
    text-align: center;
    overflow: hidden;
}
.gameNameSpan h3 span {
    display: inline-block;
    position: relative;
}
.gameNameSpan h3 span:after, h3 span:before{
    content:" ";
    display: block;
    height: 1px;
    width: 1000px;
    background: #fff;
    position: absolute;
    top: 50%;
}
.gameNameSpan h3 span:before{
    left: -1010px;
}
.gameNameSpan h3 span:after{
    right: -1010px;
}
.fragezeichenIcons{
    float: right;
    margin-top: -1.7em;
    min-width: 35px;
    width: 3%;
    height: auto;
}
.gameDescription{
    margin: 0 auto 0.3em auto ;
    padding: 0.5em 1.4em 0.5em 1.4em;
    font-size: 1.25em;
    text-align: center;
}
.gameBtns{
    margin: 0 auto;
    padding: 0.1em 1.0em 0.1em 1.0em;
    font-size: 1.5em;
    border: 0.01em;
    -webkit-appearance: none;
}
#gameBtnsDiv{
    overflow: auto;
    float: center;
}
#hochzaehlen{
    float: left;
    margin-left: 1em;
    margin-top: 1em;
}
#ok{
    float: right;
    margin-right: 1em;
    margin-top: 1em;
}
#begriff{
    float: left;
    margin-left: 1em;
    margin-top: 1em;
}
.contentGame {
    padding-top: 1em;
    padding-bottom: 100%;
}

/*********************************
GAME-WAHRHEIT
**********************************/
#wahrheit{
    padding-left: 47%;
    padding-right: auto;
    padding-bottom: 2.5em;
}
#arrow{
    width: 15%;
    height: auto;
    margin-top: 1em;
}
.contentWahrheit{
    padding-top: 1em;
    padding-bottom: 3em;
}
/*********************************
GAME-WASWENN
**********************************/
#begriffWasWenn{
	padding: 1.4em 1em 0.6em 1em;
    width: 2em;
    height: 2em;
    border-radius: 50%;

    font-size: 3em;
	text-align: center;
	
	background: #BDDB39;
	background-image: -webkit-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: -moz-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: -ms-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: -o-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: linear-gradient(to bottom, #BDDB39, #A1BE23);
}
#anzeigeWasWenn{
	font-size: 1em;
}

#gameDescriptionWasWenn{
    text-align: center;
	height: 4em;
}
/*********************************
KOFFERPACKEN
**********************************/
#begriffKofferPacken{
	padding: 1.4em 1.1em 0.6em 0.9em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    font-size: 3em;
	text-align: center;
	
	background: #BDDB39;
	background-image: -webkit-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: -moz-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: -ms-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: -o-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: linear-gradient(to bottom, #BDDB39, #A1BE23);
}
#gameDescriptionKofferPacken{
	margin-top: -0.5em;
	text-align: center;
	height: 5em;
}
/*********************************
PANTOMIME
**********************************/
#begriffPantomime{
	padding-top: 3em;

    width: 6em;
    height: 5em;
    border-radius: 50%;
    font-size: 2em;
	text-align: center;
	
	background: #BDDB39;
	background-image: -webkit-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: -moz-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: -ms-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: -o-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: linear-gradient(to bottom, #BDDB39, #A1BE23);

}
#begriffPantomime2{
	padding-top: 3em;

    width: 6em;
    height: 5em;
    border-radius: 50%;
    background-color: hsla(28, 100%, 50%, 0.85);
    font-size: 2em;
	text-align: center;
}

/*********************************
NOCH NIE
**********************************/
#nochNie{
	padding: 1.4em 1em 0.6em 1em;
	width: 2em;
    height: 2em;
	border-radius: 50%;
	
  background: #FFDD00;
  background-image: -webkit-linear-gradient(top, #FFDD00, #998500);
  background-image: -moz-linear-gradient(top, #FFDD00, #998500);
  background-image: -ms-linear-gradient(top, #FFDD00, #998500);
  background-image: -o-linear-gradient(top, #FFDD00, #998500);
  background-image: linear-gradient(to bottom, #FFDD00, #998500);
	
    font-size: 3em;
	text-align: center;

}
#gameDescriptionNochNie{
	text-align: center;
	height: 4em;
}
/*********************************
ERZÄHL MIR WAS
**********************************/
#hochzaehlenErzaehl{
	margin-top: -0.5em;
	padding: 1.4em 1em 0.6em 1em;
	width: 2em;
    height: 2em;
	border-radius: 50%;
	
	background: #65DCBE;
	background-image: -webkit-linear-gradient(top, #65DCBE, #1F896F);
	background-image: -moz-linear-gradient(top, #65DCBE, #1F896F);
	background-image: -ms-linear-gradient(top, #65DCBE, #1F896F);
	background-image: -o-linear-gradient(top, #65DCBE, #1F896F);
	background-image: linear-gradient(to bottom, #65DCBE, #1F896F);	
	
    font-size: 3em;
	text-align: center;
}

#bestaetigenErzaehl{
	margin-top: 1.2em;
	background-color: hsla(165, 63%, 33%, 0.85);
	text-align: center;
	height: 2em;
	padding-top: 0.7em;
}

#divTextErzaehl{
	
}
#erzaehlLogo{
	text-align: center;
}
#erzaehlBild{
	margin-top: 2em;
	height: 10em;
	width: auto;
}
/*********************************
WER BIN ICH
**********************************/
#name{
	font-size: 2em;
}
/*********************************
VORSTELLRUNDE
**********************************/
#begriffVorstell{
    padding: 1.4em 1.1em 0.6em 0.9em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    font-size: 3em;
	
	background: #65DCBE;
	background-image: -webkit-linear-gradient(top, #65DCBE, #1F896F);
	background-image: -moz-linear-gradient(top, #65DCBE, #1F896F);
	background-image: -ms-linear-gradient(top, #65DCBE, #1F896F);
	background-image: -o-linear-gradient(top, #65DCBE, #1F896F);
	background-image: linear-gradient(to bottom, #65DCBE, #1F896F);	

}

#gameDescriptionVorstellrunde{
    text-align: center;
	height: 4em;
}
/*********************************
Collapsible
**********************************/
.divText {
    font-size: 0.8em;
    display: none;
    padding: 1em 0 0.7em 0;
    font-weight: lighter;
}
/*********************************
MEDIA-QUERIES
**********************************/  
/*Nexus 7 2012 hochkant*/
@media screen and ( max-height: 1280px ){
    .mainMenuName{
        padding: 4.95em 0 4.95em 0 ;
    }
    .gamesNamen{
        padding: 7em 0 7em 0;   
    }     
}
/*Nexus 7 2012 quer*/
@media screen and ( max-height: 1280px ) and (orientation : landscape){
    .mainMenuName{
        padding: 2.43em 0 2.43em 0 ;
    }
    .gamesNamen{
        padding: 3.655em 0 3.655em 0;   
    }   
}
/*Nexus 7 quer*/
@media screen and ( max-height: 1280px ) and (orientation : landscape){
    .mainMenuName{
        padding: 2.43em 0 2.43em 0 ;
    }
    .gamesNamen{
        padding: 3.655em 0 3.655em 0;   
    }   
}
/*Nexus 4 hochkant*/
@media screen and ( max-height: 640px ){
    .mainMenuName{
        padding: 1.6em 0 1.6em 0 ;
    }
    .gamesNamen{
        padding: 2.55em 0 2.55em 0;   
    }
}
/*Iphone 5 hochkant*/
@media screen and ( max-height: 568px ){
    .mainMenuName{
        padding: 1.215em 0 1.215em 0 ;
    }
    .gamesNamen{
        padding: 2.05em 0 2.05em 0;   
    } 
}
/*Nexus 4 quer*/
@media screen and ( max-height: 384px ){
    .mainMenuName{
        padding: 0.265em 0 0.265em 0 ;
    } 
    .icons{
        padding-top: 0.2em;
        height: 80%;
        min-width: auto;
        width: auto;
    }
    .gamesNamen{
        padding: 0.765em 0 0.765em 0;   
    }    
}  
/*Iphone 5 quer*/
@media screen and ( max-height: 326px ){
    .mainMenuName{
        padding: 0.265em 0 0.265em 0 ;
    }
    .gamesNamen{
        padding: 0.32em 0 0.32em 0;   
    } 
}

@media screen and ( min-width: 170px ){
    .rwd-line{
        display: inline;
    }  
}


 
