/**************************
HEADER 
**************************/
header{
    background-color: rgba(28, 122, 163, 1);
    color: #fff;
}
/**************************
BODY 
**************************/
body{
    color: #fff;
}
body a{
    color: #fff;
}
/**************************
FOOTER
**************************/
footer {
    color: #fff;
}
/*********************************
SIDENAV
**********************************/
#sideNav {
    color: #fff;
    background-color: rgba(28, 122, 163, 1);
}
#sideNav a{
    color: #fff;
}
/*********************************
MAIN
**********************************/
#menuOne{ 
    background-color: hsla(165, 63%, 33%, 1);
}
#menuTwo{
    background-color: hsla(71, 69%, 54%, 1);
}
#menuThree{
    background-color: hsla(52, 100%, 55%, 1);
}
#menuFour{
    background-color: hsla(28, 100%, 50%, 1);
}

/*********************************
HILFE background-color: 
**********************************/
#gamesDarkBlue{
    background-color: hsla(198, 71%, 47%, 1);
}
/*********************************
GAMES 
**********************************/
.gameName{ 
    color: #fff;
}
.gameBtns{
    background-color:#f4f4f4;
}
/*********************************
GAME-NAV: KENNENLERN, DUNKELGRÜN
**********************************/
.blue{
    padding: 3.7em 0 3.7em 0;
}
#gameOneBlue{
    background-color: hsla(165, 63%, 33%, 1); 
}
#gameTwoBlue{
    background-color: hsla(165, 63%, 48%, 1);
}
#gameThreeBlue{
    background-color: hsla(165, 63%, 63%, 1); 
}
/*********************************
GAME-NAV: EISBRECHER, HELLGRÜN
**********************************/
#gameOneGreen{
    background-color: hsla(71, 69%, 54%, 1); 
}
#gameTwoGreen{
    background-color: hsla(71, 69%, 60%, 1);
}
#gameThreeGreen{
    background-color: hsla(71, 69%, 66%, 1); 
}
/*********************************
GAME-NAV: PARTY, GELB
**********************************/
#gameOneYellow{
    background-color: hsla(52, 100%, 50%, 1); 
}
#gameTwoYellow{
    background-color: hsla(52, 100%, 40%, 1);
}
#gameThreeYellow{
    background-color: hsla(52, 100%, 30%, 1);
}
/*********************************
GAME-NAV: ONE-PHONE, ORANGE
**********************************/
#gameOneRed{
    background-color: hsla(28, 100%, 50%, 1)
}
#gameTwoRed{
    background-color: hsla(28, 100%, 60%, 1)
}
#gameThreeRed{
    background-color: hsla(28, 100%, 70%, 1)
}
/*********************************
GAMES IN KENNENLERN, DUNKELGRÜN
**********************************/
#gamesBlue{
    background-color: hsla(165, 63%, 33%, 1);
}
/*********************************
GAMES IN KENNENLERN, HELLGRÜN
**********************************/
#gamesGreen{
    background-color: hsla(71, 69%, 54%, 1);
}
/*********************************
GAMES IN KENNENLERN, GELB
**********************************/
#gamesYellow{
    background-color: hsla(52, 100%, 40%, 1);
}
/*********************************
GAMES IN KENNENLERN, ORANGE
**********************************/
#gamesRed{
    background-color: hsla(28, 100%, 50%, 1)
}