/*********************************
LAYOUT
**********************************/

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

/*********************************
GENERAL
**********************************/
body{
	
}

.title{
	font-size: 2em;
	text-align: center;
	margin: 1em;
}



/*********************************
MENU
**********************************/

.menu{
	list-style: none;
	background-color: #7eb2c9;
	margin-left: 1em ;
	margin-right: 1em ;
	padding-left: 0px;
	padding-right: 0px;
	border: 0.05em solid black;
	border-radius: 5px;
}

.menu li {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	border: 0.05em solid black;
	/*box-shadow: 2px 3px 2px grey;*/

}

.menu a{
	text-decoration: none;
	color: black;
}

/*********************************
BUTTONS
**********************************/
.div_buttons{
	text-align:center;
}
.back{
	margin: 0 auto;
    padding: 0.5em 4.0em 0.5em 4.0em;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    border-radius: 5px;
    background-color: #eee;
}
.random{

	margin: 0 auto;
    padding: 0.5em 4.0em 0.5em 4.0em;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    border-radius: 5px;
    background-color: #eee;
}
/*********************************
LOGO
**********************************/
div .logo{
	margin: auto;
	text-align: center;
}
.logo{
	margin: 0 auto;
}