/*********************************
GENERAL 
**********************************/
html{
    height: 100%;
}
/*********************************
FONT     
**********************************/
@font-face{
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu.woff2') format('woff2');
    font-family: 'Ubuntu_lighter';
    src: url('../font/Ubuntu_lighter.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}
/*********************************
BODY 
**********************************/
body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12pt; 

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%
}
a{
    text-decoration: none;
}
/**************************
HEADER 
**************************/
header{
    
}
#navIconWrapper{
    font-size: 2em;
    padding: 0.4em 0.8em 0.4em 0.8em; 
    text-align: center;    
}
.sideNavIcon{
    float: left;
    width: 0;
}
#appName{
    display: inline-block;
    margin: 0 auto;
}
#appName img{
    width: 70%;
    max-width: 100px;
    height: auto;
}
/**************************
FOOTER
**************************/
footer {
    font-size: 0.75em;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
}
/*********************************
SIDENAV
**********************************/
#sideNav {
    padding-top: 5.5em;
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    overflow-x: hidden;  
    transition: 0.5s;
}
#sideNav a {
    padding: 0.6em 0.6em 0.6em 2em;
    font-size: 1.5em;
    display: block;
    transition: 0.3s;
}
.closeBtn {
    position: absolute;
    top: 0;
    right: 0.2em;
    font-size: 2em !important;
    margin-left: 4.5em;
}
#home{
    margin: 0 0 2.5em 0;
}
#help{
    margin: 3em 0 0 0;
}
/*********************************
MAIN
**********************************/
#mainMenu{
    overflow: auto;
    display:block;
    font-size: 1.5em;
    width: 100%;
}
.mainMenuName{
    padding: 2em 0 2em 0 ;   
    width: 100%;
    text-align: center;
}
.icons{
    min-height: 60px;
    height: 80%;
    width: auto;
    float: right;
}
.gridA{
    height: 2.5em;
}
.gridB{
    padding: auto 0;
    height: 2.5em;
    position: relative
}
.textMain{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 30%;
    float: left;
    white-space: nowrap;
}

/*********************************
GAME-NAV
**********************************/
#gameNav{
    overflow: auto;
    display:block;
    font-size: 1.5em;
    width: 100%;
}
.gamesNamen{
    padding: 2.85em 0 2.85em 0;   
    width: 100%;
    text-align: center;
}
.rwd-line{
    display: block;
    float: left;
}
/*********************************
GAME-GENERAL: NAME
**********************************/
#gameWrapper{
    width: 100%;
    height: 100%;
    padding: 4 1 4 1;
}
.gameName{
    height: 100%;
    padding: 0.5em;
    font-size: 1.5em;
    text-align: center
}
.gameNameSpan h3{
    letter-spacing: 0.05em;
    text-align: center;
    overflow: hidden;
    font-weight: normal;
}
.gameNameSpan h3 span {
    display: inline-block;
    position: relative;
}
.gameNameSpan h3 span:after, h3 span:before{
    content:" ";
    display: block;
    height: 1px;
    width: 1000px;
    background: #fff;
    position: absolute;
    top: 50%;
}
.gameNameSpan h3 span:before{
    left: -1010px;
}
.gameNameSpan h3 span:after{
    right: -1010px;
}
.fragezeichenIcons{
    float: right;
    margin-top: -1.7em;
    min-width: 35px;
    width: 3%;
    height: auto;
}
.gameDescription{
    margin: 0 auto 0.3em auto ;
    padding: 0.5em 1.4em 0.5em 1.4em;
    font-size: 1.25em;
    text-align: center;
}
/*********************************
COLLAPSIBLE
**********************************/
.divText {
    font-size: 0.8em;
    display: none;
    padding-bottom: 0.7em;
    font-family: 'Ubuntu_lighter', sans-serif;
}
hr {
    width: 30%;
    height: 1px;
    border: transparent;
    margin: 1.5em auto 0.3em auto;
    background-color: white;
}
/*********************************
GAME-GENERAL: CONTENT
**********************************/
.gameBtns{
    margin: 0 auto;
    padding: 0.1em 1.0em 0.1em 1.0em;
    font-size: 1.5em;
    border: 0.01em;
    -webkit-appearance: none;
}
#gameBtnsDiv{
    overflow: auto;
    float: center;
}
#hochzaehlen{
    float: left;
    margin-left: 1em;
    margin-top: 1em;
}
#ok{
    float: right;
    margin-right: 1em;
    margin-top: 1em;
}
#begriff{
    float: left;
    margin-left: 1em;
    margin-top: 1em;
}
.contentGame {
    padding-top: 1em;
}
/*********************************
ERZÄHL MIR WAS
**********************************/
#hochzaehlenErzaehl{
	margin-top: -0.5em;
	padding: 1.4em 1em 0.6em 1em;
	width: 2em;
    height: 2em;
	border-radius: 50%;
		
    font-size: 3em;
	text-align: center;
	
	background: #65DCBE;
	background-image: -webkit-linear-gradient(top, #65DCBE, #1F896F);
	background-image: -moz-linear-gradient(top, #65DCBE, #1F896F);
	background-image: -ms-linear-gradient(top, #65DCBE, #1F896F);
	background-image: -o-linear-gradient(top, #65DCBE, #1F896F);
	background-image: linear-gradient(to bottom, #65DCBE, #1F896F);	
	border: solid #ACECDC 8px;
}

#bestaetigenErzaehl{
	margin-top: 1.2em;
	padding-top: 0.7em;
	
	text-align: center;
	height: 2em;
	
	background-color: hsla(165, 63%, 33%, 0.85);
	
}

#erzaehlLogo{
	text-align: center;
}
#erzaehlBild{
	margin-top: 2em;
	height: 10em;
	width: auto;
}

/*********************************
GAME-WAHRHEIT
**********************************/
#wahrheit{
    padding-left: 50%;
    margin-left: -15px;
    padding-bottom: 2.5em;
}
#arrow{
    width: 20%;
    max-width: 50px;
    height: auto;
    margin-top: 1em;
}
.contentWahrheit{
    padding-top: 1em;
    padding-bottom: 3em;
}
/*********************************
GAME-WASWENN
**********************************/
#begriffWasWenn{
	padding: 1.4em 1em 0.6em 1em;
    width: 2em;
    height: 2em;
    border-radius: 50%;

    font-size: 3em;
	text-align: center;
	
	background: #BDDB39;
	background-image: -webkit-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: -moz-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: -ms-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: -o-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: linear-gradient(to bottom, #BDDB39, #A1BE23);
	border: solid #A5C224 8px;
}
#anzeigeWasWenn{
	font-size: 1em;
}

#gameDescriptionWasWenn{
    text-align: center;
	height: 3em;
}
/*********************************
KOFFERPACKEN
**********************************/
#begriffKofferPacken{
	padding: 1.4em 1.1em 0.6em 0.9em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    
	font-size: 3em;
	text-align: center;
	
	background: #BDDB39;
	background-image: -webkit-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: -moz-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: -ms-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: -o-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: linear-gradient(to bottom, #BDDB39, #A1BE23);
}
#gameDescriptionKofferPacken{
	margin-top: -0.5em;
	text-align: center;
	height: 5em;
}

/*********************************
NOCH NIE
**********************************/
#nochNie{
	padding: 1.4em 1em 0.6em 1em;
	width: 2em;
    height: 2em;
	border-radius: 50%;
	
	font-size: 3em;
	text-align: center;
	
	background: #FFDD00;
	background-image: -webkit-linear-gradient(top, #FFDD00, #998500);
	background-image: -moz-linear-gradient(top, #FFDD00, #998500);
	background-image: -ms-linear-gradient(top, #FFDD00, #998500);
	background-image: -o-linear-gradient(top, #FFDD00, #998500);
	background-image: linear-gradient(to bottom, #FFDD00, #998500);
}

#gameDescriptionNochNie{
	text-align: center;
	height: 4em;
}

/*********************************
PANTOMIME
**********************************/
#begriffPantomime{
	padding-top: 3em;
    width: 6em;
    height: 5em;
    border-radius: 50%;
	
    font-size: 2em;
	text-align: center;
	
	background: #BDDB39;
	background-image: -webkit-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: -moz-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: -ms-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: -o-linear-gradient(top, #BDDB39, #A1BE23);
	background-image: linear-gradient(to bottom, #BDDB39, #A1BE23);

}
#begriffPantomime2{
	padding-top: 3em;
    width: 6em;
    height: 5em;
    border-radius: 50%;
	
    font-size: 2em;
	text-align: center;
	
	background: #FFAD66;
	background-image: -webkit-linear-gradient(top, #FFAD66, #FF7700);
	background-image: -moz-linear-gradient(top, #FFAD66, #FF7700);
	background-image: -ms-linear-gradient(top, #FFAD66, #FF7700);
	background-image: -o-linear-gradient(top, #FFAD66, #FF7700);
	background-image: linear-gradient(to bottom, #FFAD66, #FF7700);
	border: solid #FFC999 8px;
}



/*********************************
SORTIEREN
**********************************/
#begriffSortieren{
	padding: 1.4em 1em 0.6em 1em;
    width: 2em;
    height: 2em;
    border-radius: 50%;

    font-size: 3em;
	text-align: center;
	
	background: #FFAD66;
	background-image: -webkit-linear-gradient(top, #FFAD66, #FF7700);
	background-image: -moz-linear-gradient(top, #FFAD66, #FF7700);
	background-image: -ms-linear-gradient(top, #FFAD66, #FF7700);
	background-image: -o-linear-gradient(top, #FFAD66, #FF7700);
	background-image: linear-gradient(to bottom, #FFAD66, #FF7700);
	border: solid #FFC999 8px;

}
#anzeigeSortieren{
	margin-top: 1em;
	font-size: 1em;
}

#gameDescriptionSortieren{
    text-align: center;
	height: 3.5em;
}

#erzaehlLogo{
	text-align: center;
}
#erzaehlBild{
	margin-top: 2em;
	height: 10em;
	width: auto;
}
/*********************************
WER BIN ICH
**********************************/
#divWerBinich{
    margin: 0 auto;
    display: table;
}
#nameWerBinIch{
    font-size: 3em;
}
/*********************************
SPEED DATING
**********************************/
#divSpeedName{
    margin: 0 auto;
    display: table;
}
#speedName{
    font-size: 3em;
}

/*********************************
VORSTELLRUNDE
**********************************/
#begriffVorstell{
    padding: 1.4em 1.1em 0.6em 0.9em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    
	font-size: 3em;
	
	background: #65DCBE;
	background-image: -webkit-linear-gradient(top, #65DCBE, #1F896F);
	background-image: -moz-linear-gradient(top, #65DCBE, #1F896F);
	background-image: -ms-linear-gradient(top, #65DCBE, #1F896F);
	background-image: -o-linear-gradient(top, #65DCBE, #1F896F);
	background-image: linear-gradient(to bottom, #65DCBE, #1F896F);	
	border: solid #ACECDC 8px;
}

#gameDescriptionVorstellrunde{
    text-align: center;
	height: 3em;
}

/*********************************
MEDIA-QUERIES
**********************************/  
/*Nexus 7 2012 hochkant*/
@media screen and ( max-height: 1280px ){
    .mainMenuName{
        padding: 4.95em 0 4.95em 0 ;
    }
    .gamesNamen{
        padding: 7em 0 7em 0;   
    } 
    #divWerBinich{
        padding-top: 25em;
    }
    #divSpeedName{
        padding-top: 25em;
    }    
}
/*Nexus 7 2012 quer*/
@media screen and ( max-height: 800px ){
    .mainMenuName{
        padding: 2.43em 0 2.43em 0 ;
    }
    .gamesNamen{
        padding: 3.655em 0 3.655em 0;   
    }  
    #divWerBinich{
        padding-top: 13em;
    }
    #divSpeedName{
        padding-top: 13em;
    } 
}
/*Nexus 4 hochkant*/
@media screen and ( max-height: 640px ){
    .mainMenuName{
        padding: 1.6em 0 1.6em 0 ;
    }
    .gamesNamen{
        padding: 2.55em 0 2.55em 0;   
    }
    #divWerBinich{
        padding-top: 8em;
    }
    #divSpeedName{
        padding-top: 8em;
    }
}
/*Iphone 5 hochkant*/
@media screen and ( max-height: 568px ){
    .mainMenuName{
        padding: 1.215em 0 1.215em 0 ;
    }
    .gamesNamen{
        padding: 2.05em 0 2.05em 0;   
    } 
    #divWerBinich{
        padding-top: 6em;
    }
    #divSpeedName{
        padding-top: 6em;
    }
}
/*Nexus 4 quer*/
@media screen and ( max-height: 384px ){
    .mainMenuName{
        padding: 0.265em 0 0.265em 0 ;
    } 
    .icons{
        padding-top: 0.2em;
        height: 80%;
        min-width: auto;
        width: auto;
    }
    .gamesNamen{
        padding: 0.765em 0 0.765em 0;   
    }
    #divWerBinich{
        padding-top: 1em;
    }
    #divSpeedName{
        padding-top: 1em;
    }    
}  
/*Iphone 5 quer*/
@media screen and ( max-height: 326px ){
    .mainMenuName{
        padding: 0.265em 0 0.265em 0 ;
    }
    .gamesNamen{
        padding: 0.32em 0 0.32em 0;   
    } 
    #divWerBinich{
        padding-top: 0em;
    }
    #divSpeedName{
        padding-top: 0em;
    }
}

@media screen and ( min-width: 170px ){
    .rwd-line{
        display: inline;
    }  
}


 
