.title{
	text-align: center;
	margin: 1.5em;
}


/*********************************
MENU
**********************************/

.menu{
	list-style: none;
	background-color: #3399e5;
	margin-left: 0px ;
	margin-right: 0px ;
	padding-left: 0px;
	padding-right: 0px;
	border: 0.05em solid black;
}

.menu li {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	border: 0.05em solid black;
}

.menu a{
	text-decoration: none;
	color: black;
}