/*********************************
GENERAL
**********************************/
.title{
	margin-bottom: 1em;
	font-size: 2.5em;
	color: #1c7aa3;
	text-align: center;
}

/*********************************
SIDENAV
**********************************/
.sideNav {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #fff; 
    overflow-x: hidden; 
    padding-top: 5.5em; /* Place content 60px from the top */
    transition: 0.5s;
}

.sideNav a {
    padding: 0.6em 0.6em 0.6em 2em;
    text-decoration: none;
    font-size: 1.5em;
    color: #7eb2c9;
    display: block;
    transition: 0.3s
}

.sideNav a:hover, .offcanvas a:focus{
    color: #1c7aa3;
}

.closeBtn {
    position: absolute;
    top: 0;
    right: 0.2em;
    font-size: 2em !important;
    margin-left: 4.5em;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*********************************
NAV
**********************************/
.nav{
	margin-left: 1em ;
	margin-right: 1em ;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #fff;
	font-size: 1.5em;
}
.nav a{
	margin-top: 1em ;
	text-decoration: none;
	color: #7eb2c9;
	display: block;
    clear: right;
    text-align: center;;
}
.navWarpper{
	overflow: hidden;
}
.navName{
    float: left;
}
.toNextSite{
	float: right;
}
.nav a:hover, .offcanvas a:focus{
    color: #1c7aa3;
}

/*********************************
GAME
**********************************/
.gameWarpper{
	
}
.gameName{
	margin: 0.5em auto 0.5em auto ;
	padding: 0.5em;
	background-color:  #1c7aa3;
	font-size: 1.5em;
	color: #fff;
	text-align: center;
}
.gameDescription{
	margin: 0.5em auto 0.5em auto ;
	padding: 0.5em;
	font-size: 1.25em;
	color:#7eb2c9;
}
.gameBtns{
	margin: 0 auto;
    padding: 0.1em 1.0em 0.1em 1.0em;
    font-size: 1.5em;
    color: #7eb2c9;
	background-color:#f4f4f4;
	border: 0.01em;
	border-color: #767676;
}
#gameBtnsDiv{
	overflow: auto;
}
#hochzaehlen{
    float: left;
}
#ok{
	float: right;
}
/*********************************
BUTTONS
**********************************/
.btn{
	margin: 0 auto;
    padding: 0.1em 1.0em 0.1em 1.0em;
    font-size: 1.5em;
    background-color: #fff;
    color: #7eb2c9;
    text-shadow:none !important;
    border:none !important;
	box-shadow:none !important;
}

.btn a:hover, .offcanvas a:focus{
    color: #1c7aa3;
}
/*********************************
LOGO
**********************************/
div .logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.logo{
	margin: 0 auto;
}